<div class="container p-3">
    <div class="row g-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary w-100" routerLink="/add">Add</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary w-100" routerLink="/history">History</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary w-100" routerLink="/last-ten">Last 10 data</button>
        </div>
    </div>
    <div *ngIf="lastData$ | async as data">{{data.sys}} | {{data.dia}} | {{data.pulse}} | {{data.note}}</div>
</div>