<div class="container p-3">
    <div class="row g-3">
        <div class="col-lg-2 offset-lg-5">
            <button type="button" class="btn btn-primary w-100" routerLink="/add">Add</button>
        </div>
        <div class="col-lg-2 offset-lg-5">
            <button type="button" class="btn btn-danger w-100" routerLink="/add-template">Add Template</button>
        </div>
        <div class="col-lg-2 offset-lg-5">
            <button type="button" class="btn btn-info w-100" routerLink="/add-reactive">Add Reactive</button>
        </div>
        <div class="col-lg-2 offset-lg-5">
            <button type="button" class="btn btn-secondary w-100" routerLink="/history">History</button>
        </div>
        <div class="col-lg-2 offset-lg-5">
            <button type="button" class="btn btn-warning w-100" routerLink="/last-ten">Last 10 data</button>
        </div>
    </div>
    <div *ngIf="lastData$ | async as data">
        <div class="m-3 p-1">
            <div class="row">
                <div class="col-6 fw-bold text-end">Recorded</div>
                <div class="col-6">{{data.recorded | date : 'medium'}}</div>
            </div>
            <div class="row">
                <div class="col-6 fw-bold text-end">Sys</div>
                <div class="col-6">{{data.sys}}</div>
            </div>
            <div class="row">
                <div class="col-6 fw-bold text-end">Dia</div>
                <div class="col-6">{{data.dia}}</div>
            </div>
            <div class="row">
                <div class="col-6 fw-bold text-end">Pulse</div>
                <div class="col-6">{{data.pulse}}</div>
            </div>
            <div class="row">
                <div class="col-6 fw-bold text-end">Other</div>
                <div class="col-6">{{data.other}}</div>
            </div>
        </div>
    </div>
</div>