<div class="container p-3" *ngIf="data$ | async as data">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Sys</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Pulse</th>
                        <th scope="col">Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data; index as i">
                        <th scope="row"><a class="btn btn-link" routerLink="/edit-template/{{row.id}}">{{i+1}} ({{row.id}})</a></th>
                        <td>{{row.recorded | date: 'medium'}}</td>
                        <td>{{row.sys}}</td>
                        <td>{{row.dia}}</td>
                        <td>{{row.pulse}}</td>
                        <td>{{row.other}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 offset-md-3">
            <button class="btn btn-secondary w-100" routerLink="/">Back</button>
        </div>
    </div>
</div>