<div class="container">
    <form class="row g-3" [formGroup]="form">
        <div class="col-md-4">
          <label for="inputSys" class="form-label">Sys</label>
          <input type="number" class="form-control" id="sys" formControlName="sys">
        </div>
        <div class="col-md-4">
            <label for="inputDis" class="form-label">Dia</label>
            <input type="number" class="form-control" id="dia" formControlName="dia">
        </div>
        <div class="col-md-4">
            <label for="inputPulse" class="form-label">Pulse</label>
            <input type="number" class="form-control" id="pulse" formControlName="pulse">
        </div>
        <div class="col-12">
          <label for="inputOther" class="form-label">Other</label>
          <input type="text" class="form-control" id="other" formControlName="other">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="saveData()">Save</button>
        </div>
      </form>
</div>