<div class="container mt-2" *ngIf="model$ | async as model">
    <form class="row g-3" (ngSubmit)="onSubmit()" #bloodDataForm="ngForm">
        <h1 class="text-center">Add Template-driven data</h1>
        <div class="form-group col-md-4 offset-md-4">
            <label for="sys">Sys</label>
            <input type="number" class="form-control" id="sys" required [(ngModel)]="model.sys" name="sys"
                #sys="ngModel" [ngClass]="{ 'is-invalid': (submitted || sys?.touched) && sys?.invalid }" min="50" max="250">
            <div *ngIf="sys?.errors?.required" class="invalid-feedback">
                Sys is required
            </div>
            <div *ngIf="sys?.errors?.min" class="invalid-feedback">
                Minimum value is (50).
            </div>
            <div *ngIf="sys?.errors?.max" class="invalid-feedback">
                Maximum value is (250).
            </div>
        </div>
        <div class="form-group col-md-4 offset-md-4">
            <label for="dia">Dia</label>
            <input type="number" class="form-control" id="dia" required [(ngModel)]="model.dia" name="dia"
                #dia="ngModel" [ngClass]="{ 'is-invalid': (submitted || dia?.touched) && dia?.invalid }" min="20" max="200">
            <div *ngIf="dia?.errors?.required" class="invalid-feedback">
                Dia is required
            </div>
            <div *ngIf="dia?.errors?.min" class="invalid-feedback">
                Minimum value is (20).
            </div>
            <div *ngIf="dia?.errors?.max" class="invalid-feedback">
                Maximum value is (200).
            </div>
        </div>
        <div class="form-group col-md-4 offset-md-4">
            <label for="pulse">Pulse</label>
            <input type="number" class="form-control" id="pulse" required [(ngModel)]="model.pulse" name="pulse"
                #pulse="ngModel" [ngClass]="{ 'is-invalid': (submitted || pulse?.touched) && pulse?.invalid }" min="20" max="220">
            <div *ngIf="pulse?.errors?.required" class="invalid-feedback">
                Pulse is required
            </div>
            <div *ngIf="pulse?.errors?.min" class="invalid-feedback">
                Minimum value is (20).
            </div>
            <div *ngIf="pulse?.errors?.max" class="invalid-feedback">
                Maximum value is (220).
            </div>
        </div>
        <div class="form-group col-md-4 offset-md-4">
            <label for="other">Other</label>
            <input type="text" class="form-control" id="other" [(ngModel)]="model.other" name="other" #other="ngModel">
        </div>
        <div class="form-group col-md-4 offset-md-4">
            <label for="mood">Mood</label>
            <select class="form-select" id="mood" [(ngModel)]="model.mood" name="mood" #mood="ngModel">
                <option *ngFor="let mod of moods" [value]="mod">{{mod}}</option>
            </select>
            <div [hidden]="mood.valid || mood.pristine" class="alert alert-danger">
                Mood is required
            </div>
        </div>
        <div class="col-md-4 offset-md-4">
            <button class="btn btn-secondary w-100 mt-3" routerLink="/">Back</button>
            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
            <!--button class="btn btn-primary" type="button" disabled>
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span role="status">Loading...</span>
            </button-->
        </div>
    </form>
</div>