<div>
  <canvas id="canvas">{{chart}}</canvas>
</div>
<button (click)="changeData(2023)">2023</button>

<button (click)="changeData(2022)">2022</button>
<button (click)="changeData(2021)">2021</button>
<button (click)="changeData(2020)">2020</button>
<button (click)="changeData(2019)">2019</button>
<button (click)="changeData(2018)">2018</button>
<button (click)="changeFullYearData(2023)">Full-2023</button>

<button (click)="changeFullYearData(2022)">Full-2022</button>
<button (click)="changeFullYearData(2021)">Full-2021</button>
<button (click)="changeFullYearData(2020)">Full-2020</button>
<button (click)="changeFullYearData(2019)">Full-2019</button>
<button (click)="changeFullYearData(2018)">Full-2018</button>

<button type="button" class="btn btn-primary" routerLink="/add">Primary</button>

<router-outlet></router-outlet>