<div class="container" *ngIf="data$ | async as data">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Sys</th>
                <th scope="col">Dia</th>
                <th scope="col">Pulse</th>
                <th scope="col">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{row.recorded}}</td>
                <td>{{row.sys}}</td>
                <td>{{row.dia}}</td>
                <td>{{row.pulse}}</td>
                <td>{{row.other}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary" routerLink="/">Back</button>
</div>